<footer>
    <section class="footer">
        <div><h3>2022</h3></div>
        <div class="logo-footer"> 
            <a class="logo-home" href="/"><img src="/images/LogoRetroGames.jpeg"  width="100" alt="Logo Retro games"></a>
        </div>
        <div><h3>Politica de privacidad</h3></div>
        <div><h3>Terminos y condiciones</h3></div>

    </section>
    
</footer>