
           
<header class="header">
    <div class="top-header"> 
            <a class="logo-home" href="/"><img src="/images/LogoRetrogames.png"  width="100" alt="Logo Retro games"></a>    
        <nav class="navegation"> 
           <ul>
            <li><a class ="tienda" href="#"><i class="fas fa-store"></i>TIENDA</a></li>
            <li><a class ="Biblio" href="#"><i class="fa fa-cloud"></i>BIBLIOTECA</a></li>
            <li><a class="Perfil" href="/login"><i class="fas fa-user"><i> </i></i>PERFIL</a></li>

        </ul>
        </nav>   
        <div class="busqueda">
            <form action="#" method="GET">
        <i class="fa fa-search" ></i> 
                    <input type="text" name="busqueda" placeholder='Buscar...'></form>
        </div>
    </section>


        <nav class="navegation"> 
            <ul>
            <li><a class="IP" href="/login"><i class="fa fa-user"></i></a></li>
            <li><a class="IP" href="/register"><i class="fas fa-user-plus"></i></a></li>
            <li><a class="Cart" href="/users/cart"><i class="fas fa-shopping-cart"></i></a></li> 
         </ul>
        </nav>
           
        
    </div>

</header>
