<header>
    <section class="top-header">
       
        <div class="cuadrado"> 
            <a class="logo-home" href="/"><img src="/images/LogoRetrogames.png"  width="100" alt="Logo Retro games"></a>
            <a class ="tienda" href="#"><i class="fas fa-store"></i>TIENDA</a>
            <a class ="Biblio" href="#"><i class="fa fa-cloud"></i>BIBLIOTECA</a>
            <a class="Perfil" href="/login"><i class="fas fa-user"><i> </i></i>PERFIL</a>
            <a class="IP" href="/login"><i class="fa fa-user"></i></a>
            <a class="IP" href="/register"><i class="fas fa-user-plus"></i></a>
            <a class="Cart" href="/productCart"><i class="fa fa-cart-shopping"></i></a> 
        
           
<header class="header">
    <div class="top-header"> 
            <a class="logo-home" href="/"><img src="/images/LogoRetrogames.png"  width="100" alt="Logo Retro games"></a>    
        <nav class="navegation"> 
           <ul>
            <li><a class ="tienda" href="#"><i class="fas fa-store"></i>TIENDA</a></li>
            <li><a class ="Biblio" href="#"><i class="fa fa-cloud"></i>BIBLIOTECA</a></li>
            <li><a class="Perfil" href="/login"><i class="fas fa-user"><i> </i></i>PERFIL</a></li>
           </ul>
        </nav>   
        <div class="busqueda">
            <form action="#" method="GET">
        <i class="fa fa-search" ></i> 
                    <input type="text" name="busqueda" placeholder='Buscar...'></form>
        </div>
    </section>
    <div>
     <a href="https://api.whatsapp.com/send?phone=+54"><img class="Whattsapp" src="/images/Whattsapp.jpg" alt="Whattsapp"></a>
    </div>
    </header>
    <a class="Whattsapp" href="https://api.whatsapp.com/send?phone=+54"><i class="fab fa-whatsapp"></i></a>

        <nav class="navegation"> 
            <ul>
            <li><a class="IP" href="/login"><i class="fa fa-user"></i></a></li>
            <li><a class="IP" href="/register"><i class="fas fa-user-plus"></i></a></li>
            <li><a class="Cart" href="/productCart"><i class="fas fa-shopping-cart"></i></a></li> 
         </ul>
        </nav>
           
        
    </div>

</header>
