<header>
    <section class="top-header">
       
        <div class="cuadrado"> 
           
            <a class ="tienda" href="#"><i class="fas fa-store"></i>TIENDA</a>
            <a class ="Biblio" href="#"><i class="fa fa-cloud"></i>BIBLIOTECA</a>
            <a class="Perfil" href="/login"><i class="fas fa-user"><i> </i></i>PERFIL</a>
            <a class="IP" href="/login"><i class="fa fa-user"></i></a>
            <a class="IP" href="/register"><i class="fas fa-user-plus"></i></a>
            <a class="Cart" href="/productCart"><i class="fa fa-cart-shopping"></i></a> 
        
           
        <div class="busqueda">
                <form action="#" method="GET"></div>
                    <div class="submit"><i class="fa fa-search" ></i> 
                    <input type="text" name="busqueda" placeholder='Buscar...'></form>
                 </div>
            
        </div>
        </div>
        
    </section>
    <a class="Whattsapp" href="https://api.whatsapp.com/send?phone=+54"><i class="fab fa-whatsapp"></i></a>
</header>
