<header>
    <section class="top-header">
       
        <div class="cuadrado"> 
           <div>
               <a class ="tienda" href="#"><i class="fas fa-store"></i>TIENDA</a>
               <a class ="Biblio" href="#"><i class="fa fa-cloud"></i>BIBLIOTECA</a>
               <a class="Perfil" href="/login"><i class="fas fa-user"><i> </i></i>PERFIL</a>
               
           </div>

           <form class="submit" action="#" method="GET">

            <div>
                <i class="fa fa-search" ></i> 
                <input type="text" name="busqueda" placeholder='Buscar...'>
            </div>

            </form>

            <div class="entry">
                <!-- <div class="busqueda"> -->
        
                      <div>
                          <a class="IP" href="/login"><i class="fa fa-user"></i></a>
                          <a class="IP" href="/register"><i class="fas fa-user-plus"></i></a>
                          <a class="Cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>         
                      </div>  
            </div>
           
            
        </div>
        </div>
        
    </section>
    <a class="Whattsapp" href="https://api.whatsapp.com/send?phone=+54"><i class="fab fa-whatsapp"></i></a>
</header>
