<!DOCTYPE html>
<html lang="en">
<%- include("./parcials/head") %>
<body>
    
    <%- include("./parcials/header") %>
    <main>
        <a class="logo-home" href="/home">
            <img class="img" src="\images\LogoRetroGames.jpeg" alt='Logo Retro games'></a>
        <section>Destacados Y Recomendados
            <div class="rotate">Titulos
                <article></article>
                <article></article>
                <article></article>
                <article></article>
                <article></article>
            </div>
        </section>
        <section>
            <div>Ofertas especiales</div>
        </section>
    </main>
    <%- include("./parcials/footer") %>
</body>
</html>
