<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body class="bodys">
    <%- include("./partials/header") %>
    <main class="main">
            <section class="sDestacados">
                <div class="rotate">
                    <h3>Destacados Y Recomendados</h3>
                    <p>Titulos</p>
                    
                        <article><img class="img-dest" width="340" height="180" src="/images/pvz 1.jpg"></article>
                        <p class="price">$$$</p>                   
                        <h4 class="description">Juego Pvz</h4>
                   
                        <article><img class="img-dest" width="340" height="180" src="/images/Rainbow six siege.png"></article>
                        <p class="price">$$$</p>                   
                        <h4 class="description">Juego R6</h4>
                    
                        <article><img class="img-dest" width="340" height="180" src="/images/scum.png"></article>
                        <p class="price">$$$</p>                   
                        <h4 class="description">Juego Scum</h4>
                    
                        <article><img class="img-dest" width="340" height="180" src="/images/The hunter.png" alt="Juego The hunter"/></article>        
                </div>
            </section>
            <section class="sOfertas">
                    <h3>Ofertas especiales</h3>
                <div class="Ofert">
                     <article><img class="img-esp" width="340" height="180" src="/images/ark.png"></article>
                     <p class="price">$$$</p>                   
                     <h4 class="description">Ark Survival Envolved</h4>
            
                     <article><img class="img-esp" width="340" height="180" src="/images/elder ring.png"></article>
                     <p class="price">$$$</p>                   
                     <h4 class="description">Elder Ring</h4>
            
                     <article><img class="img-esp" width="340" height="180" src="/images/fifa 22.jpeg"></article>
                     <p class="price">$$$</p>                   
                     <h4 class="description">Fifa 22</h4>
                     <article><img class="img-esp" width="340" height="180" src="/images/nioh 1 y 2.png"></article>
                     <p class="price">$$$</p>                   
                     <h4 class="description">Nioh 1 y 2</h4>
                </div>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>
