<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body class="bodys">
    <%- include("./partials/header") %>
    <main class="main">
        <section class="sDestacados">
          <div class="rotate">
            <h3>Destacados Y Recomendados</h3>
            <p>Titulos</p></div>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">

                  <img  src="/images/pvz 1.jpg" class="d-block w-100" alt="img1">

                  <p class="price">$$$</p>                   
                        <h4 class="description">Pvz</h4>
                </div>
                <div class="carousel-item">

                  <img  src="/images/Rainbow six siege.png" class="d-block w-100" alt="img2">

                  <p class="price">$$$</p>                   
                        <h4 class="description">Pvz</h4>
                </div>
                <div class="carousel-item">

                  <img  src="/images/scum.png" class="d-block w-100" alt="img3">

                  <p class="price">$$$</p>                   
                        <h4 class="description">Pvz</h4>
                </div>
                <div class="carousel-item">

                  <img  src="/images/The hunter.png" class="d-block w-100" alt="Juego The hunter">

                  <p class="price">$$$</p>                   
                        <h4 class="description">Pvz</h4>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
               <!-- <p>Titulos</p></div>
                   <article class="article">
                        <img class="img-dest" width="340" height="180" src="/images/pvz 1.jpg">
                        <p class="price">$$$</p>                   
                        <h4 class="description">Pvz</h4>
                   </article>
                   <article class="article">
                        <img class="img-dest" width="340" height="180" src="/images/Rainbow six siege.png">
                        <p class="price">$$$</p>                   
                        <h4 class="description">R6</h4>
                    </article>
                    <article class="article">
                        <img class="img-dest" width="340" height="180" src="/images/scum.png">
                        <p class="price">$$$</p>                   
                        <h4 class="description">Scum</h4>
                    </article>
                    <article class="article">
                        <img class="img-dest" width="340" height="180" src="/images/The hunter.png" alt="Juego The hunter"/>       
                        <p class="price">$$$</p>                   
                        <h4 class="description">The hunter</h4>
                    </article> -->
            </section>
        <section class="sOfertas">   
          <div class="rotate" >
            <h3>Ofertas especiales</h3>
            <p>Titulos</p></div>
              
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">

                      <img  src="/images/ark.png" class="d-block w-100" alt="Ark">

                      <p class="price">$$$</p>                   
                        <h4 class="description">Pvz</h4>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">

                      <img  src="/images/elder ring.png" class="d-block w-100" alt="elderRing">

                      <p class="price">$$$</p>                   
                        <h4 class="description">Pvz</h4>
                    </div>
                    <div class="carousel-item">

                      <img  src="/images/fifa 22.jpeg" class="d-block w-100" alt="fifa22">

                      <p class="price">$$$</p>                   
                        <h4 class="description">Pvz</h4>
                    </div>
                    <div class="carousel-item">

                      <img  src="/images/nioh 1 y 2.png" class="d-block w-100" alt="Nion">

                      <p class="price">$$$</p>                   
                        <h4 class="description">Pvz</h4>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                     <!-- <article class="article"><img class="img-esp" width="340" height="180" src="/images/ark.png">
                       <p class="price">$$$</p>                   
                       <h4 class="description">Ark Survival Envolved</h4>
                     </article>
                     <article class="article"><img class="img-esp" width="340" height="180" src="/images/elder ring.png">
                       <p class="price">$$$</p>                   
                       <h4 class="description">Elder Ring</h4>
                     </article>
                     <article class="article"><img class="img-esp" width="340" height="180" src="/images/fifa 22.jpeg">
                       <p class="price">$$$</p>                 
                       <h4 class="description">Fifa 22</h4>
                    </article> 
                     <article class="article"><img class="img-esp" width="340" height="180" src="/images/nioh 1 y 2.png">
                       <p class="price">$$$</p>                   
                       <h4 class="description">Nioh 1 y 2</h4>
                     </article>  -->
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <%- include("./partials/footer") %>
    
</body>
</html>
