<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body class="bodys">
    
    <%- include("./partials/header") %>
    <main>
            <section class="sDestacados">Destacados Y Recomendados
                <div class="rotate">Titulos
                    <div>
                        <article><img class="img-dest" width="340" height="180" src="/images/pvz 1.jpg" alt="Juego Pvz"/></article>
                    </div>
                    <div>
                        <article><img class="img-dest" width="340" height="180" src="/images/Rainbow six siege.png" alt="Juego R6"/></article>
                    </div>
                    <div>
                        <article><img class="img-dest" width="340" height="180" src="/images/scum.png" alt="Juego Scum"/></article>
                    </div>
                    <div>
                        <article><img class="img-dest" width="340" height="180" src="/images/The hunter.png" alt="Juego The hunter"/></article>
                    </div>
                </div>
            </section>
            <section>
                <div class="sOfertas">Ofertas especiales</div>
                <div>
                <article><img class="img-esp" width="340" height="180" src="/images/ark.png" alt="Juego Ark"/></article>
            </div>
            <div>
                <article><img class="img-esp" width="340" height="180" src="/images/elder ring.png" alt="Juego Elder"/></div></article>
            </div>
            <div>
                <article><img class="img-esp" width="340" height="180" src="/images/fifa 22.jpeg" alt="Juego Fifa 22"/></article>
            </div>
            <div>
                <article><img class="img-esp" width="340" height="180" src="/images/nioh 1 y 2.png" alt="Juego Nioh 1 y 2"/></article>
            </div>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>
