<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section>
            <div>
                <div>Nombre de pag</div>
                <div><img src=""></div>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Barra de busqueda</div>
                <div class="submit"><i class=""></i></div>
            </div>
            <div>Perfil y carrito de compras</div>
            <div>
                <i class="barra"></i>tienda,biblioteca,perfil</div>
        </section>
    
    </header>
    <main>
        <section>Destacados
            <div></div>
            <div>Ofertas especiales</div>
        </section>
    </main>
    <footer>
        <div>Politica de privacidad + logo</div>

    </footer>
</body>
</html>