<!DOCTYPE html>
<html>
    <%- include("./parcials/head") %>
    <body>
        <%- include("./parcials/header") %>
        <main class="login">
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Contraseña">
                <input type="submit" value="Enviar">
            </form>
        </main>
        <%- include("./parcials/footer") %>
    </body>
</html>