<!-- Carrito de Compras -->
<%- include("./parcials/head") %>
<%- include("./parcials/header") %>
<a href="/home">
    <img src="\images\LogoRetroGames.jpeg" width='300' alt='Logo Retro games'>
</a>
<%- include("./parcials/footer") %>

