<!-- Carrito de Compras -->
<%- include("./partials/head") %>
<%- include("./partials/header") %>
<!-- <div class="logo-footer"> 
            <a class="logo-home" href="/"><img src="/images/LogoRetrogames.png"  width="100" alt="Logo Retro games"></a> -->
<%- include("./partials/footer") %>

