<!-- Carrito de Compras -->
<%- include("./partials/head") %>
<%- include("./partials/header") %>
<a href="/home">
    <img src="\images\LogoRetroGames.jpeg" width='300' alt='Logo Retro games'>
</a>
<%- include("./partials/footer") %>

