* {  
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.IP:hover {
    color: red;
}

.bodys {
   background-image: url(/images/fondo-home.jpg);
   background-size: cover;
}


/*  HEADER  */

.header{
    background: #8d0000d1;
    width: 100%;
}
.top-header{
    display: flex;
    justify-content: space-between;
    

}
.navegation a{
    color: #000000;
    text-decoration: none;
}

.navegation ul li{
    display: inline-block;
    
}   
.navegation ul li a{
    display: block;
    margin: 30px 15px;
    
    
}
.navegation ul li:hover{
    background-color: darkblue;
    transition: all 0.5s linear;
}


.navegation, .logo-home {
    flex-grow: 0.23;
}


/* ---Footer--- */

.footer {
    font-size: 12px;
    background: #8d0000d1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 5%;
}
.HF{
    color: black

}


/* ---Login--- */

.body-login{
   background-image: url(/images/fondo-home.jpg);
   background-attachment: fixed;

}



.login{
    padding: 15px;
    display: flex;
    width: 80%;
    margin: 20px auto;
    background: radial-gradient(#97171786, #b4696936);
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: solid orangered;
}


.login .log{
    margin: 30px;
    border-radius: 3px;
    padding: 10px;
    background:rgba(46, 2, 2, 0.567)
}
.form .input{
    background:rgba(46, 2, 2, 0.567)
}

.form input{
background: rgba(46, 2, 2, 0.567);
color: #bb0116;
}

.form input .text{
    background: rgba(46, 2, 2, 0.567);
    color: #bb0116;
}

.busqueda {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-form_input {
    border: solid 1px lightgrey;
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 3px;
    height: 40px;
    font-size: 1.5em;
  }
  
  .search-form_button {
    position: absolute;
    right: 2px;
    margin-left: 1px;
    height: 20%;
    background-color: #ffffff;
    border: none;
    color: var(--gray);
    cursor: pointer;
  }
  

.log{
    background-color: rgba(0, 0, 0, 0.771)  
}

.log :hover{
    background-color: brown;
    color: red;
    transition: all 3s;
}

.fraselog{
    color: #9b1f1f;
    font-size: 25px;
    align-self: center;
    width: 5%;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.retro-gamesLog {
    background-color: orange;
    text-shadow: rgba(0, 0, 0, 0.567) 0.1em 0.1em 0.2em;
    border-radius: 5px;
}


/* ---HOME--- */
.sDestacados{
  color:#FFF2FF;
  text-align: center;
    
}

.rotate{
    color:#FFF2FF;
    text-align: center;
    
}

.rotate div {

    image-rendering: optimizeQuality;
    
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.sDestacados p{
    color: #FFF2FF;   
}
.sDestacados h4{
    color: #FFF2FF;
    
}
.sDestacados .article description:hover{
    text-decoration: underline;
}

.sOfertas p{
    color: #FFF2FF;
}
.sOfertas .description{
    color: #FFF2FF;
}
.article{
    width: 100%;
}

/* ---Register--- */

.body-register {
    background-image: url(/images/fondo-home.jpg);
    background-attachment: fixed;
}

.register {
    background: radial-gradient(#97171786, #b4696936);
    display: flex;
    margin: 20px auto;
    justify-content: center;
    text-align: center;

    padding: 20px;
    border: solid orangered;
    width: 80%;
}

.frase{
    font-size: 25px;
    margin:auto;
    /* border-style: hidden; */
    text-shadow: black 0.1em 0.1em 0.2em;
    color: #9b1f1f;
    border-radius: orange 3px;

}

.retro-games {
    background-color: orange;
    text-shadow: rgb(0 0 0 / 57%) 0.1em 0.1em 0.2em;
    border-radius: 5px;
 

}

.form {
     border-left: solid #211522 2px;
     border-right: solid black 1.5px;

}

.form input {
    border-radius: 3px;
    border-style: hidden;

}

.user, .mail, .avatar, .pass, .button-register {
    color: var(--cream);
     padding: 8px;
     border-radius: solid 3px;
}

.button-register input {
     border-radius: 3px;
     background-color: blue;
     color: white;
     text-align: center;
     width: 120px;
}

.button-register input:hover {
     background-color: green;
     color: blue;
}

.terminos {
     background-color: orange;
     

}

.WHAT{
    
    font-size: 30px;
}
.Whattsapp {
    display: flex;
    border-radius:2px;
    border-color: greenyellow;
    color:greenyellow ;
    display: inline-block;
}

.error-404 {
    margin: auto;
    background-color: rgba(150, 0, 0, 0.812);
    text-align: center;
    margin-top: 25%;
}
.error-404:hover{
    color: white;
}


/* ---Product Cart--- */
.body-cart{
    background-image: url(/images/fondo-home.jpg);
    background-attachment: fixed;
}

.body-cart .product-detail{
    color: #9b1f1f; 
    padding-right: 40%;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.fondo-product{
    background-image: url(/images/fondo-home.jpg);
        background-attachment: fixed;
}

.body-cart h1{
    color: #9b1f1f;
    padding-right: 40%;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.cart-image, .product-box_image{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
  }

  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
  .ratio-4-3{
    width:100%;
    position:relative;
    background:url() 50% 50% no-repeat;
    background-size:cover;
    background-clip:content-box;
  }
  .ratio-4-3:before{
      display:block;
      content:"";
      padding-top:75%;
  }
  .row2{
    background-color: white;
  }
  
/*====== Products ======*/
.product-box_image_detail{
    max-width: 50%;
    max-height: 500%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
  }

.products-wrapper {
    margin-top: 30px;
  }
  
  .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }
  
  .product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .product-box a {
    display: block;
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
  }
  
  .product-box_data span {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--green);
    margin: 0 0 0 10px;
  }
  
  .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .product-box_data i {
    color: var(--green);
    font-size: 1.8em;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  
  .product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
  .product-box:hover i {
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
  }
  
  .cart-image {
    max-width: 20%;
    max-height: 20%;
  }
  
  .cart-item-name{
    font-size: 2em;
  }
  
.products-title {
    padding-top: 3%;
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }

.product-box {
    background-color: #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .product-box a {
    display: block;
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
  }
  
  .product-box_data span {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--green);
    margin: 0 0 0 10px;
  }
  
  .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .product-box_data i {
    color: var(--green);
    font-size: 1.8em;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  
  .product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
  .product-box:hover i {
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
  }
  
  .cart-image {
    max-width: 20%;
    max-height: 20%;
  }
  
  .cart-item-name{
    font-size: 2em;
  }
    
.buy-now-button {
    background-color:darkblue;
    font-size: 1.6em;
    color: lightgrey ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
  }
  
  .action-button {
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    color: #000000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 15px;
  }
  
  .action-button.edit {
    background-color:rgb(248, 69, 37);
  }
  .action-button.delete {
    background-color: rgb(248, 69, 37);
  }
  
  



/* ---Media Quares--- */



@media (min-width: 361px) and (min-width: 769px) {
 
}

@media (min-width: 769px){
    
}





