* {  
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* max-width: 1200px; */
/*    background-image: url(/images/fondo-home.jpg);
   background-attachment: fixed;*/
}

:root {
 --purple:#9271C2;
 --blue:#2D1674;
 --white:#FFF2FF;
 --cream:#BEAFC2;
 --light-purple:#695E93;
 --dark:#211522;
 --violet:#613659;
}

.IP:hover {
    color: red;
}

.bodys {
   background-image: url(/images/fondo-home.jpg);
   background-size: cover;
}
/*  HEADER  */
.header{
    background: #8d0000d1;
    width: 100%;
    flex-wrap: nowrap;
 
}
.top-header{
    display: flex;
    justify-content: space-between;

}

.navegation, .navegation, .busqueda {
    flex-flow: 25%;
    flex-wrap: nowrap;

}

.navegation a{
    color: #000000;
    text-decoration: none;

}

.navegation ul li{
    display: inline-block;

    
}
.navegation ul li a{
    display: block;
    margin: 30px 15px;
    
}
.navegation ul li:hover{
    background-color: darkblue;
    transition: all 0.5s linear;
}
.busqueda{
    padding: 25px 5px;
    
}

/* Footer */

.footer {
    width: 100%;
    background: #8d0000d1;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 5%;
}
.HF{
    color: black

}

/* Login */
.login h2 {
    color: #9b1f1f;
    
}
.body-login{
   background-image: url(/images/fondo-home.jpg);
   background-attachment: fixed;
}
.login{

    background: radial-gradient(#97171786, #b4696936);
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px 20px;
    padding: 20px;
    border: solid #9b1f1f;
    width: 100%;
 
}
.reg-sec{
    width: 70%;
}
.login .log{
    margin: 30px;
    border: solid #9b1f1f;
    border-radius: 3px;
    padding: 10px;
    background:rgba(46, 2, 2, 0.567)
}
.form .input{
    background:rgba(46, 2, 2, 0.567)
}

.form input{
background: rgba(46, 2, 2, 0.567);
color: #bb0116;
}
.form input .text{
    background: rgba(46, 2, 2, 0.567);
    color: #bb0116;
    }

.log{
    background-color: rgba(0, 0, 0, 0.771)  
}
.fraselog{
    align-self: center;
    color: #9b1f1f;
    font-size: 25px;

    text-shadow: black 0.1em 0.1em 0.2em;
    
}
.retro-gamesLog {
    background-color: #9b1f1f;
    text-shadow: rgba(0, 0, 0, 0.567) 0.1em 0.1em 0.2em;
    border-radius: 5px;

}
/* HOME */
.rotate{
    color:#FFF2FF;
    margin: 10px;
    image-rendering: optimizeQuality;
    
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    padding: 50px 15px;
}

.sDestacados p{
    color: #FFF2FF;  
    

}
.sDestacados h4{
    color: #FFF2FF;

    
}
.sDestacados .article description:hover{
    text-decoration: underline;
}

.sOfertas p{
    color: #FFF2FF;
}
.sOfertas .description{
    color: #FFF2FF;
}
.article{
    /* width: 100%; */
}

/* Register */

.body-register {
    background-image: url(/images/fondo-home.jpg);
    background-attachment: fixed;
}

.register {
    background: radial-gradient(#97171786, #b4696936);
    display: flex;
    margin: 15px 0px 15px 0px;
    justify-content: center;
    text-align: center;

    padding-top: 30px;
    border: solid #9b1f1f;
    width: 100%;
}

.frase{
    font-size: x-large;
    margin:auto;
    width: 15%;
    color: red;
    border-radius: 5px;
    border-style: hidden;
    text-shadow: black 0.1em 0.1em 0.2em;
}


.retro-games {
    background-color: red;
    border-radius: 3px;
}

.form {
     border-left: solid #211522 2px;
}

.form input {
    border-radius: 3px;
    border-style: hidden;
}

.user, .mail, .avatar, .pass, .button-register {
    color: var(--cream);
     padding: 8px;
     border-radius: solid 3px;
}

.button-register input {
     border-radius: 3px;
     background-color: blue;
     color: white;
     text-align: center;
     width: 120px;
}

.button-register input:hover {
     background-color: green;
     color: blue;
}


.terminos {
     background-color: red;

}


.WHAT{
    font-size: 20px;
}
.Whattsapp {
    display: flex;
    border-radius:2px;
    border-color: greenyellow;
    color:greenyellow ;
    display: inline-block;
}

.error-404 {
    margin: auto;
    background-color: rgba(150, 0, 0, 0.812);
    text-align: center;
    margin-top: 25%;
}
.error-404:hover{
    color: white;
}
/* Product Cart */


/* Product Detail */


/* Media Quares */
/*Phone*/
@media (min-width: 361px) {

}

@media (min-width: 769px){
    
}

@media (min-width: 1200px) {
   
}