<!DOCTYPE html>
<html>
    <%- include("./partials/head") %>
    <body class= "body-login">
        <%- include("./partials/header") %>
        
        <main class="login">
            <!-- <p class="fraselog">Bienvenido a Nuestros Mundos!</p> -->
            <section class="reg-sec">
                <div class="retro-gamesLog">
                    <h2>Retro Games</h2>
                </div>
                
            <form action="/userProfile" method="POST" class="form"> <!-- aca tenemos que mostrar la foto del usuario, sus datos, sus compras anteriores, etc-->
               
                <div class="log">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
                </div>
                
                <div class="log">
                <input type="password" name="pass" placeholder="Contraseña">
                </div>
                
                <div class="log">
                <input type="submit" value="Ingresar">
                </div>
            
            </form>
        </main>
       
        <%- include("./partials/footer") %>
        <script src="/js/validaciones.js" ></script>
        <script src="/js/loginValidation" ></script>
    </body>
</html>