<html>
    <link rel="stylesheet" href="/css/styles.css">
    <body class="error-404">
       <div>
           <h1>404 – Página no encontrada </h1>   
           <p>Vuelva a la  <a href="/">página principal</a></p>
       </div>
        
    </body>
</html>