<div class="peliculas-recomendadas contenedor">
    <div class="contenedor-titulo-controles">
        <h3>Juegos Destacados</h3>
        <div class="indicadores"></div>
    </div>

    <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>
        
        <div class="contenedor-carousel">
            <div class="carousel">
                <div class="pelicula">
					<a href="#"><img src="images/the-last-of-us-remake.jpg" alt=""></a>
				</div>
				<div class="pelicula">
					<a href="#"><img src="images/sniper-elite-5.jpg" alt=""></a>
				</div>
				<div class="pelicula">
					<a href="#"><img src="images/3.png" alt=""></a>
				</div>
				<div class="pelicula">
					<a href="#"><img src="images/tortugasNinja.png" alt=""></a>
				</div>
				<div class="pelicula">
					<a href="#"><img src="images/superPets.png" alt=""></a>
				</div>
				<div class="pelicula">
					<a href="#"><img src="images/6.png" alt=""></a>
				</div>
				<div class="pelicula">
					<a href="#"><img src="images/warhammerjpg.jpg" alt=""></a>
				</div>
						<div class="pelicula">
							<a href="#"><img src="images/pcSimulator.jpeg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/CYBERPUNK.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/monster-hunter.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/siegeSurvival.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/watchDogs.jpeg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/beyond-good-an-evil-2.jpeg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/eldenringin.jpeg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/trochlight3.jpeg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/contraRogueCorps.jpg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/finalFantasyXVI.jpeg" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/stalker2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/Zelda.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/callOfDutyVanguard.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="images/madden.jpg" alt=""></a>
						</div>
                
            </div>
        </div>

        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
    </div>
</div>
