<footer class="caja-footer">
    <section class="footer">
        
        <div class="logo-footer"> 
            <a class="logo-home" href="/"><img src="/images/LogoRetrogames.png"  width="100" alt="Logo Retro games"></a>
        </div>
        <div>
            <h3 class="HF">Política de privacidad</h3>
            <p>© 2022 Games Corporation. Todos los derechos reservados. Todas las marcas registradas pertenecen a sus respectivos dueños en EE. UU. y otros países.
                Todos los precios incluyen IVA (donde sea aplicable).</p>
        </div>
        <div>
            <h3 class="HF">Términos y condiciones</h3>
            <!-- <p><img src="/images/tarjetas.png" alt=""></p> -->
            <h6>Configurar Cookies</h6>
            <h6>Aviso Legal</h6>
            <h6>Descarga Games</h6>
            <h6>Devoluciones y reemplazos</h6>
        </div>
<div class="HF">
    <h4>Preguntas Frecuentes/ Ayuda</h4>
    <img src="/images/tarjetas.png" alt="">
   
</div>
   
<!-- <div class="WHAT">
    <a class="Whattsapp" href="https://api.whatsapp.com/send?phone=+54"><i class="fab fa-whatsapp"></i></a>
   </div> -->

    </section>
    
</footer>
