<footer>
    <section class="footer">
        
        <div class="logo-footer"> 
            <a class="logo-home" href="/"><img src="/images/LogoRetrogames.png"  width="100" alt="Logo Retro games"></a>
        </div>
        <div><h3 class="HF">Política de privacidad</h3></div>
        <div><h3 class="HF">Términos y condiciones</h3></div>
<div><h3 class="HF">2022</h3></div>
   
<div class="WHAT">
    <a class="Whattsapp" href="https://api.whatsapp.com/send?phone=+54"><i class="fab fa-whatsapp"></i></a>
   </div>

    </section>
    
</footer>
