
<header>
<a href="/#" class = "logo">
    <img src="/images/LogoRetrogames.png" alt="Logo Retro games" class="logo-img">
    <h2 class="logo-name">Retro Games</h2></a>

    <!--<div class="desplegable-header">
           <li><a href="#">Menu<i class="fas fa-stream desplegable"></i></a></li>
    -->

<a class ="tienda" href="/products"><i class="fas fa-store"></i> Tienda </a>
<a class ="Biblio" href="/productDetail"><i class="fa fa-cloud"></i> Biblioteca </a>
<a class ="Perfil" href="/login"><i class="fas fa-user"><i> </i></i> Perfil </a>
   
    <nav>
<a class="IP" href="/login"><i class="fa fa-user"></i></a>
<a class="IP" href="/register"><i class="fas fa-user-plus"></i></a>
<a class="Cart" href="/cart"><i class="fas fa-shopping-cart"></i></a> 
 
</nav>
</div>

</header>





<!--<header class="header">
    <div class="top-header"> 
            <a class="logo-home" href="/"><img src="/images/LogoRetrogames.png"  width="100" alt="Logo Retro games"></a>    

            
                
                <div class="desplegable-header" style="margin: 15px;">
                    <ul>
                        <li ><i class="fas fa-stream desplegable"></i></li>
                        
                        
                        
                        <nav class="navegation list"> 
                            <ul>
                                <li><a class ="tienda" href="/products"><i class="fas fa-store"></i> Tienda </a></li>
                                <li><a class ="Biblio" href="#"><i class="fa fa-cloud"></i> Biblioteca </a></li>
                                <li><a class="Perfil" href="/login"><i class="fas fa-user"><i> </i></i> Perfil </a></li>
                            </ul>
                        </ul> 
                    </nav>
                </div>

                <div class="busqueda">
                    <form action="#" method="GET"> <input type="text" name="busqueda" placeholder='Buscar...'></form>
                    <button type="submit" class="search-form_button">
                        <i class="fas fa-search"> </i> </button>
                    </div>
                
                
                
        
        <nav class="navegation"> 
            <ul style="display: flex; flex-direction: column; ">
            <li><a class="IP" href="/login"><i class="fa fa-user"></i></a></li>
            <li><a class="IP" href="/register"><i class="fas fa-user-plus"></i></a></li>
            <li><a class="Cart" href="/users/cart"><i class="fas fa-shopping-cart"></i></a></li> 
         </ul>
        </nav>
           
        
    </div>
</header> 
 -->